<h1><%= t(:friend_list) %></h1>
<table>
  <thead>
  <tr>
    <% scope = [:activerecord, :attributes, :user] %>
    <th><%= t(:name, :scope => scope) %></th>
  </tr>
  </thead>

<% @friends.each do |friend| %>
  <tr>
    <td><%= friend.name %></td>
  </tr>
<% end %>
</table>
