<div id="header">
  <div id="header-inner">
    <h1><%= link_to 'タ・ラ・イ', root_path %></h1>
  </div>
</div>

<div id="header-menu">
  <ul>
    <li><a href="#">ホーム</a></li>
    <li><a href="#">ニュース</a></li>
    <li><a href="#">ブログ</a></li>
    <li><a href="#">リンク</a></li>
    <li><a href="#">掲示板</a></li>
    <li><a href="#">サイトマップ</a></li>
    <li><a href="#">お問い合わせ</a></li>
  </ul>
</div>
