<div id="menu">

  <h1>メニュー （h1タグ）</h1>

  <p>
    <a href="#">・サイドメニュー１</a><br />
    <a href="#">・サイドメニュー２</a><br />
    <a href="#">・サイドメニュー３</a><br />
    <a href="#">・サイドメニュー４</a><br />
  </p>

</div>
